@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    color:$gris;
}
h1,h2,h3,h4,h5,h6{
    color:$negro;
}
p{
    @include fluid-type($min-vw,$max-vw,15px,18px)
}
.bg-header{
    background: transparent url(../../images/bkg-header.jpg) 50% 100% no-repeat;
    background-size: auto 100%;
    padding: 25px 0 50px 0;
}
.input-group{
    .input-group-prepend{
        cursor: pointer;
        .input-group-text{
            background-color: transparent !important;
            i{
                color:$primary;
            }
        }
    }
}
.form-error {
    color: $red;
    font-size: .75rem;
    margin-left: .25rem;
}
