.ruta_inner{
    .bg-header{
        background: transparent url(../../images/bkg-header.jpg) 50% 100% no-repeat !important;
        background-size: auto 100% !important;
        padding: 25px 0 50px 0;
        @include down-screen(mobile-big){
            background: none;
            padding: 0;
        }
    }
    &__content{
        margin-top: 300px;
        @include down-screen(mobile-big){
            margin-top: 250px;
        }
    }
    &__number{
        background: $black;
        color: $white;
        text-align: center;
        border-radius: 50%;
        padding: 15px;
    }
    &__button{
        @include fluid-type($min-vw,$max-vw,13px,15px)
    }
    &__p{
        color:$gris;
        background: $grisbg;
        padding: 10px;
        &--nobg{
            background: inherit;
            color:$gris;

        }
    }
    &__material{
        margin: 2rem 2rem 4rem;
    }
    &__icon{
        width: 60px;
    }
    a:hover{
        text-decoration: none;
    }
}
